<nav class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 <% if(active == "home") { %> text-secondary <% } else { %> text-white <% } %>">Home</a></li>
        <li><a href="/usergame" class="nav-link px-2 <% if(active == "user") { %> text-secondary <% } else { %> text-white <% } %>">User</a></li>
        <li><a href="/history" class="nav-link px-2 <% if(active == "history") { %> text-secondary <% } else { %> text-white <% } %>">History</a></li>
      </ul>

      <div class="text-end">
          <a href="/logout" class="btn btn-warning">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
      </div>
    </div>
  </div>
</nav>